# Test files
!tests/fixtures/config.ini
!tests/fixtures/in.txt
!tests/fixtures/installed.txt

# Settings for IntelliJ
.idea/

# Compiled pyc files
__pycache__/
.vscode/
desktop.ini

# Direnv file
.envrc

# Type Checker
.mypy_cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*,cover
.hypothesis/
.pytest_cache/

## output
*json
*egg*

## PDM
.pdm.toml
__pypackages__
